{% block content %}
    <div class="about-section">
  <h1><center>About Us</center></h1>
  <p>Hi All 🙂.<br>This is an interesting fashion website where you can see different kinds of models.</p>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Lavanya Reddy</h2>
        <p class="title">Founder</p>
        <p>This is Lavanya and I am going to pursue my masters.I am having an interest on fashion and out of that interest I had designed a web page </p>
        <p>Mail id:lavanyaglr9949@gmail.com</p>
      </div>
    </div>
  </div>
{% endblock content %}
<!-- Back Button -->
<div class="back-button-container">
    <button onclick="goBack()">Back</button>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>
